{% extends 'base.html' %}

{% block title %}{{user.name}} {{profile.user.username}}{% endblock title %}

{% block content %}
{% include "includes/nav.html" %}
    
<!-- Display user's bio information -->
{% if profile.user.username == request.user.username%}

<a href="update_bio/{{request.user.username}}">edit</a>

{% endif %}
<form action="/follow" method="POST">
    {% csrf_token %}
    <input type="hidden" name = "user" value="{{profile.user.username}}">
    <button type="submit">{{button_text}}</button>
</form>
<img src="{{profile.profile_pic.url}}" alt="">
<h2>{{ profile.user.username }}</h2>
<p>{{follower_count}} Followers</p>
<p>{{ profile.bio }}</p>


<h3>Recommend By:</h3>

{% for recommendation in recommendations %}
    <div style="display: flex;" class="recommendations">
        <a href="{{recommendation.recommended_by}}"><h4>{{recommendation.recommended_by}}</h4></a>      
    {% if request.user.username == recommendation.recommended_by %}
    <p>{{recommendation.rec_created_at}} </p>
    <a class="btn btn-primary" href="edit/rec/{{recommendation.id}}">edit</a>
    <form action="/rec_delete" method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{recommendation.id}}">
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    {% endif %}

    </div>
    <p>{{recommendation.recommendation}}</p>

    <hr>

{% endfor %}

{% if display == 'block' %}
<div class="form">
    <form action="/recommend" method="POST">
        {% csrf_token %}
        <input type="hidden" name="c_user" value="{{user.username}}">
        <input type="hidden" name="v_user" value="{{profile.user.username}}" id="">
        <input type="hidden" name="v_user_id" value="{{profile.user.id}}" id="">
        <textarea  name="recommendation" id="" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
{% endif %}
{% endblock content %}