{% extends 'base.html' %}

{% block title %}{{user.name}} {{profile.user.username}}{% endblock title %}

{% block content %}
{% include "includes/nav.html" %}
    
<!-- Display user's bio information -->
<img src="{{profile.profile_pic.url}}" alt="">
<h2>{{ profile.user.username }}</h2>
<p>{{ profile.bio }}</p>

{% for recommendation in recommendations %}
    <a href="{{recommendation.recommended_by}}"><h4>{{recommendation.recommended_by}}</h4></a>

    <p>{{recommendation.recommendation}}</p>
    <hr>

{% endfor %}

<div style="display: {{display}};" class="form">
    <form action="/recommend" method="POST">
        {% csrf_token %}
        <input type="hidden" name="c_user" value="{{user.username}}">
        <input type="hidden" name="v_user" value="{{profile.user.username}}" id="">
        <input type="hidden" name="v_user_id" value="{{profile.user.id}}" id="">
        <textarea  name="recommendation" id="" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock content %}