{% extends 'base.html' %}
{% block title %}Google Sign In {% endblock title %}
    <title>Google Sign In</title>
<body>
{% block content %}

{% include 'includes/nav.html' %}
{% if user.is_authenticated %} 
<p>You are signed in as {{user.email}}</p>
<a href="logout">Logout</a>
{% else %}
{% load socialaccount %} 
{% comment %} this will enable to use the login urls {% endcomment %}
<h2>Google Login</h2>
<a href="{% provider_login_url 'google' %}?next=/">Login With Google</a>
{% endif %}

{% for post in all_posts %}
<h1>{{post.user.username}}</h1>
<img src="{{post.post_img.url}}" alt="">
<p>{{post.caption}}</p>

{% endfor %}
{% endblock content %}
{% comment %} this will provide the url for google signin  {% endcomment %}

